<%= render "users/header" %>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<h2>ブログ投稿</h2>
			<%= form_for(@blog) do |f| %>

				<div class="row">
					<div class="col-md-4 col-md-offset-1">ブログタイトル</div>
					<div class="col-md-2"><%= f.text_field :title, class: "panel panel-default"  %></div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-1">ブログ内容</div>
					<div class="col-md-2"><%= f.text_area :introduction, class: "panel panel-default"  %></div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-1">メーカー</div>
					<div class="col-md-2"><%= f.text_field :genres_id, class: "panel panel-default"  %></div>
				</div>
				<div class="field">
					<%= form.label :genre_id %>
					<%= form.select :genre_id, {include_blank: '---'} %>
				</div>

				<div class="row">
			      <div class="col-md-5 col-md-offset-1">ブログ写真</div>
			        <div class="col-md-2"><%= f.attachment_field :image, class: "user_image" %></div>
			    </div>

				<div class="actions row">
					<%= f.submit class: "btn btn-primary col-md-12" %>
				</div>
			<% end %>
		</div>
	</div>
</div>