<%= render "users/header" %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>詳細ページ</h2>
			<table class="table">

				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>タイトル</th>
						<th>紹介文</th>
						<th>メーカー</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tr>
					<td class="col-md-1 col-md-offset-4">
						<%= attachment_image_tag(@blog.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
					</td>

					<td class="col-md-1 col-md-offset-3 ">
					    <%= attachment_image_tag(@blog, :image, :fill, 200, 200, fallback: "no_image.jpg", size:'100x100' ) %>
					</td>

					<td class="col-md-2 col-md-offset-4"><%= link_to @blog.title, blog_path(@blog) %></td>

					<td class="col-md-3 col-md-offset-4"><%= @blog.introduction %></td>

					<td class="col-md-2 col-md-offset-4"><%= @genre.name %></td>

					<td>
						<% if @blog.favorited_by?(current_user) %>
						    <%= link_to blog_favorites_path(@blog),class: 'glyphicon glyphicon-heart', method: :delete do %>
						      <i class="fa fa-heart " aria-hidden="true" style="color: black;"></i>
						      <%= @blog.favorites.count %>
						    <% end %>
						<% else %>
						    <%= link_to blog_favorites_path(@blog),class: 'glyphicon glyphicon-heart', method: :post do %>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <%= @blog.favorites.count %>
						    <% end %>
						<% end %>
					</td>
					<% if current_user == @blog.user %>
						<td class="col-md-1 col-md-offset-3"><%= link_to "編集",edit_blog_path(@blog), class: "btn-sm btn-success edit_blog_#{@blog.id}" %></td>
						<td class="col-md-1 col-md-offset-2"><%= link_to "削除",@blog, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_blog_#{@blog.id}" %></td>
					<% end %>
				</tr>
			</table>
			<div class="row">
				<div class="col-md-6 col-md-offset-1" style="margin-top: 20px;">

					<% @blog.blog_comments.each do |blog| %>
                	    <%= attachment_image_tag blog.user, :profile_image, :fill, 60, 60, fallback: "no-image-mini.jpg" %>

						<div class="row">
							<div class="col-md-2 col-md-offset-1">名前：</div>
							<div class="col-md-4 col-md-offset-1">
                                <a href="#" class="link-author col-md-2"><%= blog.user.name %></a>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 col-md-offset-1">コメント：</div>
							<div class="col-md-2"><%= blog.comment %></div>
						</div>

						<div class="row">
							<div class="col-md-4 col-md-offset-1">日付</div>
							<div class="col-md-2"><%= blog.created_at.strftime('%Y/%m/%d') %></div>
						</div>

                	<% end %>
				</div>
			</div>

			   	<div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
			   	    <h3 class="section-title left"><span>コメント</span></h3>
			   	</div>
			   	<%= form_for [@blog, @blog_comment] do |f| %>
			   	    <div class="row">
			   	        <div class="col-sm-12">
			   	            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
			   	        </div>
			   	    </div>
			   	    <%= f.submit "送信する", class: "btn-sm btn-primary pull-right" %>
			   	<% end %>
			</div>
		</div>
	</div>
</div>