<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
          <h2>カーナビー・ストーリー</h2>
      </div>

      <div class="col-md-4 col-md-offset-2">
        <% if user_signed_in? %>
          <h3>メーカー検索</h3>

          <%= form_with url: blogs_path, method: :get, local: true do |f| %>
              <%= f.text_field :query %>
              <%= f.submit :search %>
          <% end %>
        <% end %>
      </div>



    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <ul class="nav pull-right nav-pills">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
            <li class="nav-item <%= 'current' if current_page?(root_path) %>"><%= link_to ' HOME', root_path, data: {"turbolinks" => false} %></li>
            <li class="nav-item <%= 'current' if current_page?(home_about_path) %>"><%= link_to ' ABOUT', home_about_path %></li>
            <li class="nav-item <%= 'current' if current_page?(users_path) %>"><%= link_to ' USERS', users_path %></li>
            <li class="nav-item <%= 'current' if current_page?(blogs_path) %>"><%= link_to ' BLOGS', blogs_path %></li>
            <li class="nav-item"><%= link_to ' YOUTUBE', 'https://www.youtube.com/' %></li>
            <li class="nav-item <%= 'current' if current_page?(user_path(current_user)) %>"><%= link_to ' MY PAGE', user_path(current_user) %></li>
            <li class="nav-item <%= 'current' if current_page?(new_blog_path) %>"><%= link_to ' 投稿 ', new_blog_path %></li>
            <li class="nav-item <%= 'current' if current_page?(destroy_user_session_path) %> pull-right"><%= link_to ' LOGOUT', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li class="nav-item <%= 'current' if current_page?(root_path) %>"><%= link_to ' HOME', root_path %></li>
            <li class="nav-item <%= 'current' if current_page?(home_about_path) %>"><%= link_to ' ABOUT', home_about_path %></li>
            <li class="nav-item "><%= link_to ' YOUTUBE', 'https://www.youtube.com/' %></li>
            <li class="nav-item <%= 'current' if current_page?(new_user_registration_path) %>"><%= link_to ' SIGN UP', new_user_registration_path, data: {"turbolinks" => false} %></li>
            <li class="nav-item <%= 'current' if current_page?(new_user_session_path) %>"><%= link_to ' LOGIN', new_user_session_path, data: {"turbolinks" => false} %></li>
            <% end %>
          </ul>
      </div>
    </div>
</div>
