<%= render "users/header" %>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<h2>会員一覧</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-md-offset-2">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>名前</th>
						<th>自己紹介</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><td>
						<td><%= user.name %></td>
						<td><%= user.introduction %></td>
						<td><%= link_to "詳細", user, class: "user_#{user.id}" %></td>
					<% end %>
				</tbody>
			</table>
			<div class="paginate">
    			<%= paginate @users %>
    		</div>
		</div>
	</div>
</div>